<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vote-O-Tron</title>
    <meta name="description" content="Free Code Camp Voting App Project">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/b8a0f1fd-83fd-43c3-9345-b05430ff2660%2FplanetTitle.png?1523151747007" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav >
      <h1>
        Vote-O-Tron
      </h1>
      <ul class="nav nav-pills">
        <li role="presentation">Sign in with Twitter</li>
        <li role="presentation">Sign in with GitHub</li>
      </ul>
    </nav>

    <main>
     
    </main>

    <footer class="navbar-fixed-bottom">
      <div class="container">
        <p>Created By: <span class="me"><strong>Melissa Kepler</strong></span></p>
        <div class="btn-group btn-group-lg">
          <a href="https://github.com/Missarachnid/fcc-url-shortener" target="_blank"><button type="button" class="btn links">Github Repository</button></a>
          <a href="http://mmkepler.com" target="_blank"><button type="button" class="btn links">mmkepler.com</button></a>
        </div>
      </div>
    </footer>
    <!-- import the webpage's client-side javascript file -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
