.me {
    font-size: 16px;
}

.links {
    padding:8px;
    border-radius: 4px;
    background-color:#00ccc9;
    font-size: 18px;
    margin: 5px;
}

nav {
  text-align: center;
  text-decoration: none;
}

footer {
  text-align: center;
}

button {
  color: black;
}